elpa/*
!elpa/.gitkeep
site-lisp/*
!site-lisp/.gitkeep

projectile-bookmarks.eld
projectile.cache

recentf
auto-save-list/
.lsp-session-v1
network-security.data

transient
tramp

kkcrc
smex-items
bookmarks

.cache/*

transient/
tree-sitter/
undo-fu-session/
url/
projects

myconf_def/
init.el.def

secrets.el
myconf/*.elc

eln-cache
